// Message-box
.success{
    background-color: #9fea9e;
}

.error{
    background-color: #FF8080;
}

.info{
    background-color: #79CFE0;
}

.message-box{
    align-self: center;
    position: fixed;
    top: -50px;
    left: 36%;
    text-align: center;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    border-radius:.5em;
    padding:12px;
    width: 400px;
    animation: popup 4s ease-in-out;
    animation-fill-mode: forwards;
    z-index: 997;
}

@keyframes popup {
  0%   {top:10px;opacity: 0;}
  20%  {top:80px;opacity: 1;}
  90%  {top:80px;opacity: 1;}
  100% {top:10px;opacity: 0;}
}

//used to display the container
.activate{
  display: block;
  // opacity: 1;
}

//slide top to bottom
@keyframes down
{
  0%   {top:-100px;opacity: 0;}
  100% {top:0px;opacity: 1;}
}

//slide bottom to top
.slidetoTop{
  display: none;
  animation: top .25s ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes top
{
  0%   {top:0px;opacity: 1;display: block;}
  100% {top:-100px;opacity: 0;display: none;}
}


//slide to right to left
@keyframes left
{
  0%   {right:-100px;opacity: 0;}
  100% {right:0px;opacity: 1;}
}

//slide to left to right
.slidetoRight{
  display: none;
  animation: right .25s ease-in-out;
  animation-fill-mode: forwards;
}   
@keyframes right
{
  0%   {right:0px;opacity: 1;display: block;}
  100% {right:-100px;opacity: 0;display: none;}
}


//expand Border animation
.border_animation {
  width: 100px;
  height: 1px;
  border-bottom: 2px solid gray;
  border-radius: 5px;
  animation: expandShrink 2s;
}

@keyframes expandShrink {
  0%{
    width: 0px;
  }
  100% {
    width: 80%;
  }
}


//   DropDown icon
.rotate {
  transition: all .5s linear;
}
.rotate.down {
  transform:rotate(-90deg);
}

//rotate animation
@keyframes rotateAnimation {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

//Drop-down box
.dropdown {
  width: 300px;
  display: inline-block;
  // background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 0 2px rgb(204, 204, 204);
  transition: all .5s ease;
  position: relative;
  font-size: 14px;
  color: #474747;
  height: 100%;
  text-align: left
}
.dropdown .select {
    cursor: pointer;
    display: block;
    padding: 10px;
    width: 100%;
    span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
      max-width: 90%;
    }
}
.dropdown .select > i {
    font-size: 13px;
    color: #888;
    cursor: pointer;
    transition: all .3s ease-in-out;
    float: right;
    line-height: 20px
}
.dropdown:hover {
    box-shadow: 0 0 4px rgb(204, 204, 204)
}

// .dropdown:active {
//     background-color: #f8f8f8
// }

.dropdown.active .select > i {
    transform: rotate(-90deg)
}

.dropdown .dropdown-menu {
    position: absolute;
    // background-color: #fff;
    background-color: rgba(230, 251, 248, 0.7);
    width: 100%;
    left: 0;
    margin-top: 1px;
    box-shadow: 0 1px 2px rgb(204, 204, 204);
    border-radius: 0 1px 2px 2px;
    overflow: hidden;
    display: none;
    max-height: 250px;
    overflow-y: auto;
    z-index: 9;
    padding: 0;
    list-style: none
}

.dropdown .dropdown-menu li {
    padding: 10px;
    transition: all .2s ease-in-out;
    cursor: pointer
} 
.dropdown .dropdown-menu li:hover {
  background-color: rgba(167, 244, 239, 0.54);
}
.dropdown .dropdown-menu li:active {
  background-color: rgba(167, 244, 239, 0.54);
}

//input-box
.inputBox-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

input{
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px 5px 5px 10px;
    color: #a4a4a4;
    letter-spacing: 2px;
    outline: none;
    margin-bottom: 30px;
}

//Swing css
@keyframes swing {
  0%,
  30%,
  50%,
  70%,
  100% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(10deg);
  }

  40% {
    transform: rotate(-10deg);
  }

  60% {
    transform: rotate(5deg);
  }

  80% {
    transform: rotate(-5deg);
  }
}

  //profile-cover
.profile-pic {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;

  img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  h4 {
    margin-top: 10px;
    font-size: 13px;
    color: #444343;
    word-wrap: break-word;
    max-width: 110px;
    text-align: center;
    margin-bottom: 5px;
  }
  h3{
    margin: 0px;
    font-size: 12px;
  }
}

//Scroll-bar 
.scroll-bar {
	&::-webkit-scrollbar {
		width: 5px;
	}
	&::-webkit-scrollbar:horizontal {
		height: 6px;
	}
	&::-webkit-scrollbar-track {
		background-color: transparentize(#e5e3e3, 0.7);
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background: transparentize(#d7d6d6, 0.5);
		box-shadow: inset 0 0 6px rgba(199, 196, 196, 0.5); 
	}
}

//Bounce effect
.bounce{
  animation: bounce .5s ease infinite alternate;
}

.pause {
  animation-play-state: paused; 
}

@keyframes bounce {
  100% {
    transform:translateY(-15px);
  }
}  

//tooltip
.tooltip {
  position: absolute;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 5px;
  border-radius: 4px;
  white-space: nowrap;
  font-size: 14px;
  opacity: 0; 
  pointer-events: none; 
  transition: opacity 0.2s ease;
}

.parent:hover .tooltip {
  opacity: 1;
}

//submit-button
#submitbtn{
  position: fixed;
  right: 50px;
  bottom: 50px;
  padding: 10px 15px 10px 15px;
  background-color: RGB(248, 68, 100);
  color: white;
  font-size: 15px;
  border: 1px solid RGB(248, 68, 100);
  box-shadow: 0 0 5px black;
  border-radius: 5px;
  cursor: pointer;
}

//table
.table-container{
  height: 62vh;
  overflow-y: auto;
  background-color: rgba(230, 251, 248, 0.7);

table{
  border-collapse: collapse;
  width: 100%;
 
  th{
    text-align: left;
  }

  thead{
    position: sticky;
    top: 0px;
    // background-color: white;
    z-index: 8;
  }

  th, td {
    padding: 15px;
    border-bottom:1px solid black;
  }

  tbody tr td:first-child{
    width: 20px;
    padding: 0px;
    text-align: center;
    
    span{
      padding:3px;
      i{
        padding:2px;
        font-size:18px;
      }

      .wrong{
        color: red;
      }
      .correct{
        color: green;
      }
    }
  }
}
}

.visibleby_hover{
  visibility: visible;
}

.text-center {
  text-align: center;
  margin: 0 auto;
}

//select tag
.selectdiv {
  //position: relative;
  float: left;
  max-width: 150px;
}

.selectdiv select { 
  background-color: rgba(230, 251, 248, 0.7);
  display: block;
  max-width: 120px;
  height: 30px;
  padding: 5px;
  color: #646464;
  border: 1px solid #cccccc;
  border-radius: 5px;
  
  &:focus{
    outline:none
  }
  
}


//strike through effect
.strike-through-name {
  display: flex;
  align-items: center;
    hr {
      flex-grow: 1;
      height: 1px;
      background-color: #ccc;
      border: none;
      margin: 0 10px;
    }
    
    span {
      color: #fff;
      font-size: 15px;
    }
}

.network-error{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;

    i{
      color: #4e4e4e;
      font-size: 45px;
    }

    #retry i{
      font-size: 15px;
    }
}


.page_error{
   padding:40px 0; 
  //  background:#fff;
    font-family: 'Arvo', serif;
   img{ width:100%;}

  .gif_bg{
    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
      height: 400px;
      background-position: center;
      background-repeat: no-repeat;
  }
 	 
  .link_404{			 
      color: #fff!important;
      padding: 10px 20px;
      background: #39ac31;
      margin: 20px 0;
      display: inline-block;
    }
}


.confirm-btn-red,.confirm-btn-green{
  padding: 10px 15px 10px 15px;
  color: white;
  font-size: 15px;
  box-shadow: 0 0 5px black;
  border-radius: 5px;
  cursor: pointer;
}

.confirm-btn-red{
  background-color: RGB(248, 68, 100);
  border: 1px solid RGB(248, 68, 100);
}

.confirm-btn-green
{
  background-color:#04AA6D ;
  border: 1px solid #04AA6D;
}

h5{
  position: relative;
  padding: 4em 10px 20px 50em;
  font-size: 8px;
}

.headLine{
  font-weight: 1000;
  color: #575252;
}
