{{page-title "AccessError"}}

<section class="page_error">
		<div class="text-center">
		<div class="gif_bg">
			<h1 class="text-center " style="font-size:80px;"></h1>
		</div>
		<h3 class="h2">
		Look like you're lost
		</h3>
		<p>I'm unable to access that page. Check you URL and Try again!!!</p>
		<LinkTo @route="index" class="link_404">Go to Home</LinkTo>
	</div>
</section>

{{outlet}}