{{page-title "NetworkError"}}
<div class="network-error">
    <i class="fas fa-wifi fa-bounce"></i>
    <p style="text-align: center;">Check your Internet Connection...</p>
    <div id="retry" {{on "click" this.retryTransition}}><i id="icon" class="fa-solid fa-arrow-rotate-right"></i> Retry</div>
</div>
{{outlet}}